{% extends 'base.html' %}
{% block title %}
About |
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="/static/AboutStyle.css">
{% endblock head %}
{% block body %}
<div class="about-section">
  <h1>About Us</h1>
  <p>Welcome to EventHuB, your number one portal for creating and registering for an event.<br> We're dedicated to providing you the best of this product, with a focus on dependability and customer service.<br>We hope you enjoy our event portal as much as we enjoy offering them to you.
  </p>
</div>

<br><br><h2 style="text-align:center">Our Team</h2><br>
  <div class="row" style="margin-bottom:100px;">
    <div class="column">
      <div class="card">
        <img src="/static/aj.jpeg" alt="Ajay" style="width:100%">

        <div class="container">
          <br><h2>Ajay Antu</h2>
          <p class="title">Developer</p>
          <p>2nd Year B.Tech in Computer Science Student at Adi Shankara Institute of Engineering and Technology</p>
          <p>ajaytechy7@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/static/ash.jpeg" alt="Ashiq" style="width:100%">
        <div class="container">
          <br><h2>Ashiq Cherian</h2>
          <p class="title">Developer</p>
          <p>2nd Year B.Tech in Computer Science Student at Adi Shankara Institute of Engineering and Technology</p>
          <p>ashiqcherian@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/static/abi.jpeg" alt="Abhijith" style="width:100%">
        <div class="container">
          <br><h2>Abhijith E S</h2>
          <p class="title">Developer</p>
          <p>2nd Year B.Tech in Computer Science Student at Adi Shankara Institute of Engineering and Technology</p>
          <p>abhijithsunil.abhi@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}

