{% extends 'base.html' %}

{% block title %} Profile | {% endblock title %}
{% block body %}

<div class="container" style="display: flex;
align-items: center;
justify-content: center;">

    <div class="card" style="width: 18rem;margin-top: 110px;align-items: center;">
        <img src="/static/profile.png" class="card-img-top" alt="..." style="width: 100px;padding: 10px;">
        <div class="card-body">
          <h5 class="card-title">{{ username }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Email : {{ email }}</li>
          <li class="list-group-item">User Type : {{ usertype }}</li>
          <li class="list-group-item">Joined Clubs : TinkerHub,IEEE</li>
        </ul>
        <div class="card-body">
          
        </div>
      </div>

</div>




{% endblock body %}